@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
background-image:url('https://images.pexels.com/photos/374894/pexels-photo-374894.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
background-repeat: no-repeat;
background-size: cover;
font-family: 'Montserrat';
}

div{
  background: white;
  margin-top:5%;
  margin-left: 38%;
  margin-right: 40%;
  box-shadow: 4px 4px 4px;
}

input{
  border-radius: 40px;
  margin:10px;
}
