@import url('https://fonts.googleapis.com/css?family=Muli');
body{
  background-image: url('https://images.pexels.com/photos/264507/pexels-photo-264507.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
  background-size: cover;
  background-repeat: no-repeat;
  font: 14px 'Muli'; }
.wrapper{ margin-left: 32%;width: 350px; padding: 20px; background-color: white;}
